

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 0;

  width: 100%;
  min-height: 100vh;
}

#root {

  width: 100%;
  margin: 0;
  padding: 0;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}