


resource_group_name = "esapp-rg"


location     = "southeastasia"
environment  = "dev"
project_name = "esapp"


vnet_cidr      = "10.0.0.0/16"
aks_subnet_cidr = "10.0.1.0/24"
db_subnet_cidr  = "10.0.2.0/24"


aks_kubernetes_version = "1.27"
aks_node_count         = 3
aks_vm_size            = "Standard_B2s_v2"


mysql_version            = "8.0.21"
mysql_admin_username     = "azureuser"
mysql_admin_password     = "ChangeMe@12345"
mysql_sku_name           = "GP_Standard_D2ds_v4"
mysql_allocated_storage  = 20


acr_sku = "Basic"


keyvault_sku = "standard"
